# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/java/cn/seiua/skymatrix/client/modules/combat/
/src/main/java/cn/seiua/skymatrix/mixin/mixins/
/src/main/java/cn/seiua/skymatrix/event/events/
/src/main/resources/assets/skymatrix/font/
